body {
  background-image: url("../assets/images/mountains-universe-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
